@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["message"]
    </div>
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center">
        <section class="col-md-8">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <h1 class="text-center">@ViewData["Title"]</h1>
                <h4 class="text-center">Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.UserRole"></label>
                    <select asp-for="Input.UserRole" asp-items="Model.RoleSelectList" class="form-control"></select>
                    <span asp-validation-for="Input.UserRole" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <br />
            <br />
            <h4>Register a test admin account.</h4>
            <hr />
            <div>
                <p>
                    If it is the first time that you are using this system, you may lack access to a test admin account as there are no 
                    external methods to register for an admin account. Therefore, you can click on the below button to generate a test admin account.
                </p>
            </div>
            <div>
                <form method="post">
                    <button type="submit" class="btn btn-primary" asp-page-handler="RegisterTestAdmin">Register Test Admin Here</button>
                </form>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
function RegisterTestAdmin() {
    $.ajax({
        type: "POST",
        url: '@Url.Action("RegisterTestAdmin", "Register")',
        async: true,
        success: function (msg) {
            ServiceSucceeded(msg);
        },
        error: function () {
            return "error";
        }
    });
}
</script>